.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.up,
.down {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up::before,
.down::before {
    content: '';
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 6px;
    display: inline-block;
}

.up::before {
    transform: rotate(-135deg); // mũi tên lên
    border-color: gray; // màu xám nhạt
}

.down::before {
    transform: rotate(45deg); // mũi tên xuống
    border-color: white; // màu trắng
}
